<form (ngSubmit)="onSubmit()" #emailForm="ngForm">
  <input
    type="email"
    name="email"
    [(ngModel)]="email"
    required
    pattern=".+@.+\..+"
    #emailControl="ngModel"
  />
  <ng-container
    *ngIf="emailControl.invalid && emailControl.touched"
  ></ng-container>
  <div *ngIf="emailControl.errors?.required">You must enter your email</div>
  <div *ngIf="emailControl.errors?.pattern">
    Please enter the correct email format
  </div>
  <button [disabled]="emailForm.invalid">Submit</button>
</form>
<div>value : {{ emailForm.value | json }}</div>
<div>Is form valid ? {{ emailForm.valid }}</div>
